.project
.settings
.classpath
build/
bin/
out/
.idea/
.gradle
.properties
.ser
access.*
subprojects/importer/sdm_log
.checkstyle
target/
logFile_IS_UNDEFINED
jmeter
*/**/jmeter.log
*.log
release.properties
**/*.iml
*.iml
*.ipr
*.iws
Dokumentation
.DS_Store