<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- 
	This file is intended as an initial "dummy" configuration only to be included in the WAR archive.
	The "real" log4j configuration is supposed to be loaded from another configuration file, which
	is outside of the WAR archive.
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
        
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d [%-2p] %c - %m%n"/> 
    </layout> 
  </appender>  

  <root>
    <priority value ="info" />
    <appender-ref ref="console"/>
  </root>

</log4j:configuration> 
